.Contact {
    background-color: #d0eeed;
    width: 100%;
}
.Contact .Contact-body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Contact .Contact-body .Contact-content {
    margin-top: 2rem;
    text-align: center;
    max-width: 80rem;
  }
  
  .Contact .Contact-body .Contact-content h1 {
    font-size: clamp(1rem, 4vw, 5rem);
    margin: 1rem;
    color: #122a5e;
  
  }
  .Contact .Contact-body .Contact-content h3 {
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: bold;
    color: #000;
  
  }
  
  .Contact .Contact-body .Contact-content p {
    font-size: clamp(1rem, 1.75vw, 2.2rem);
    font-weight: 300;
    color: #666;
  }
  
  .Contact-container {
    width: 100%;
    display: flex;
    margin: 3rem;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .Contact-container .contact-info {
    /* margin-left: 23rem; */
    margin: 8rem;
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
  }
  
  .Contact-container .contact-info .box {
    position: relative;
    padding: 2rem 0;
    display: flex;
  }
  
  .Contact-container .contact-info .box .icon {
    min-width: 6rem;
    height: 6rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: #122a5e;
    align-items: center;
    border-radius: 50%;
    /* font-size: '9.125rem', */
  }
  .Contact-container .contact-info .box .text{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: #666;
  
  }
  
  .Contact-container .contact-info .box .text h3{
    font-weight: 500;
    color: #122a5e;
  }
  .Contact-container .Form{
    border: 2px solid black;
    /* width: 40%; */
    /* float: right; */
  }



  html {
    font-size: 62.5%;
  }
  
  @media(max-width:998px) {
    html {
      font-size: 55%;
    }
  
  }
  
  @media(max-width:768px) {
    html {
      font-size: 45%;
    }
  
  }  